<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Change Request List</h2>
    <div class="tools">
        <button mat-mini-fab color="basic">
      <mat-icon>save_alt</mat-icon>
    </button>
        <button mat-mini-fab class="primary-button" color="primary" [matMenuTriggerFor]="filter">
      <mat-icon>filter_list</mat-icon>
    </button>
        <mat-menu #filter="matMenu">
            <button (click)="clearFilter()" class="clear-Filter mat-menu-item">
            <span>Clear Filter</span>
          </button>
            <button *ngFor="let StatusList of StatusList" (click)="doFilter(StatusList.ApprovedStatusId)" class="{{StatusList.ApprovedStatusName | lowercase | removewhitespaces}} mat-menu-item">
          <mat-icon>trip_origin</mat-icon>
          <span>{{StatusList.ApprovedStatusName}}</span>
      </button>

        </mat-menu>

    </div>

</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="desc">

    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Id Column -->
    <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container> -->

    <!-- CR NO Column -->
    <ng-container matColumnDef="CrId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CR NO </th>
        <td mat-cell *matCellDef="let element"> {{element.ProjectId}}-{{element.CrId}} </td>

    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="ChangeDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
        <td mat-cell *matCellDef="let element"> {{element.ChangeDescription}} </td>
    </ng-container>

    <!-- Raised By Column -->
    <ng-container matColumnDef="RaisedBy">
        <th mat-header-cell *matHeaderCellDef> RAISED BY </th>
        <td mat-cell *matCellDef="let element"> {{raisedByVal(element.RaisedBy)}} </td>
    </ng-container>


    <!-- Raised On Column -->
    <ng-container matColumnDef="RaisedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RAISED ON </th>
        <td mat-cell *matCellDef="let element"> {{(element.RaisedOn | date:'dd-MM-yyyy')}} </td>
    </ng-container>

    <!-- Effort Column -->
    <ng-container matColumnDef="EffortHours">
        <th mat-header-cell *matHeaderCellDef> EFFORT </th>
        <td mat-cell *matCellDef="let element"> {{element.EffortHours}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> TOTALS </th>
        <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="ApprovalStatus">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td class="" mat-cell *matCellDef="let element">
            <span class="{{getType(element.ApprovalStatus) | lowercase | removewhitespaces}}-row status-button"> {{getType(element.ApprovalStatus)}} </span>
        </td>
    </ng-container>




    <!-- Attachment Column -->
    <ng-container matColumnDef="attachments">
        <th mat-header-cell *matHeaderCellDef> ATTACHMENT </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="document-attach" (click)="showFiles(element.CrId, element.Documents)">insert_drive_file</mat-icon><span class="attachment-data">{{element.Documents.length}} </span> </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(element.CrId)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
                <button mat-menu-item [routerLink]="['/editPost/', element.CrId]">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[2,4,5,10, 20, 50, 100]">
</mat-paginator>