/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
    margin: 0;
    height: 100%;
}

.gc-overflow-auto {
    overflow: auto;
}

.gc-margin-top-20 {
    margin-top: 20px;
}

.mat-datepicker-toggle-default-icon {
    color: #C3D2F3;
}

.mat-dialog-content {
    padding: 24px 24px;
}


/*for dialogue box*/

.dialogue-del {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup-icon {
    text-align: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    line-height: 5em;
    display: inline-block;
}

.popup-icon span {
    font-size: -webkit-xxx-large;
}

.popup {
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;
}

.popup h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
    padding-top: 20px;
}

.popup p {
    color: #545454;
    font-size: 1.125em;
    font-weight: 300;
    margin-top: 10px;
}

.mat-dialog-actions {
    display: block !important;
    text-align: center;
}

.dialogue-btn {
    border-radius: 5px;
    background-color: #3085d6;
    color: #fff;
}

.dialogue-cancel {
    background-color: #aaa;
    color: #fff;
    border-radius: 5px;
}

.cancelled-icon {
    border: .25em solid #9de0f6;
    color: #3fc3ee;
}

.error-icon {
    border: .25em solid #b42727;
    color: #b42727;
}

.delete-icon {
    border: .25em solid #facea8;
    color: #f8bb86;
}

.cancelled-ok {
    width: 25%;
    font-size: 17px;
}

.success-icon {
    border: .25em solid #a5dc86;
    color: #a5dc86;
}

.success-icon .mat-icon {
    font-size: 40px;
    margin-right: 15px;
}

.download-dialogue-box h1 {
    padding-top: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    display: flex;
}

.download-dialogue-box mat-icon {
    cursor: pointer;
    margin-top: 10px;
    color: #2C68EA;
    margin-right: 10px;
}

.uploaded-section {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

.download-dialogue-box .popup {
    text-align: justify;
    overflow: hidden;
    min-width: 450px;
}

.file-desc span {
    float: right;
}

.file-desc {
    font-size: 14px;
    font-weight: bold;
    color: #676A73;
}

.uploaded-section p {
    padding-right: 20px;
    width: 90%;
    padding-left: 10px;
    overflow-wrap: break-word;
}

.download-dialogue-box button {
    float: right;
}

.uploaded-area {
    overflow-y: scroll;
    max-height: 150px;
}


/*pagination*/

.mat-paginator {
    float: left;
    background: none;
}