<mat-toolbar>
    <mat-toolbar-row class="header">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/logo.svg" max-width="100%" height="40" class="d-inline-block" alt="">
            <span class="logo-border"></span><span class="logo-text">CRM</span>
        </a>
        <span class="title" fxLayout="row" fxLayoutAlign="center center">
        <span>11209</span> Tellus, Malesuada
        </span>

        <button mat-mini-fab color="basic">AT</button>
    </mat-toolbar-row>
</mat-toolbar>